#      INTRODUCTION TO SET

### A set is a collection which is unordered, unchangeable*, and unindexed.

In [4]:
myset={"Md","Firozzaman","Sarker"}
print(myset)

{'Md', 'Sarker', 'Firozzaman'}

In [5]:
print("Length of set : ",len(myset))

Length of set :  3

## Set items can be of any data type:

In [9]:
myset={"Apple",130,2.63,"Md.Firozzaman"}
print(myset)

{'Md.Firozzaman', 'Apple', 130, 2.63}

In [12]:
set1={"apple","banana","cherry"}
set2={1,2,3,4,5,6}
set3={False,False,True}
print(set1,"\n",set2,"\n",set3)

{'banana', 'cherry', 'apple'}
 {1, 2, 3, 4, 5, 6}
 {False, True}

## Duplicates Not Allowed :

In [14]:
myset={"FIROZ","cherry","apple",130,"FIROZ",130,"FIROZ"}
print(myset)

{130, 'FIROZ', 'cherry', 'apple'}

## type() 
From Python's perspective, sets are defined as objects with the data type 'set':

In [18]:
myset={"Md.","Firozzaman","Sarker"}
print(type(myset))
print(len(myset))
myset={"Md.","Firozzaman","Sarker",180201130,"8th",2.63}
print(type(myset))
print(len(myset))

<class 'set'>
3
<class 'set'>
6

## The set() Constructor :

In [24]:
thisset=set(("apple","cherry",130,2.63,"Md.Firozzaman"))
print("thisset : ",thisset,"\nLength of this set : ",len(thisset),"\nData type of this set : ",type(thisset))

thisset :  {130, 2.63, 'cherry', 'Md.Firozzaman', 'apple'}
Length of this set :  5
Data type of this set :  <class 'set'>

## Python Collections (Arrays) 
### There are four collection data types in the Python programming language:

### 1. List is a collection which is ordered and changeable. Allows duplicate members.
### 2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
### 3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
### 4. Dictionary is a collection which is ordered** and changeable. No duplicate members.