In [6]:
x=5
y=5.4
n="Md.Firozzaman"
ch='F'
ch1="N"
a=7j
dic={"Name :": "Md.Firozzaman","Id : ":180201130}
Set={"Firoz",130,"Zaman"}
Tuple=("Firoz",130,"Zaman")
List=["Firoz",130,"Zaman"]
bl=True

print(type(x))
print(type(y))

print(type(ch))
print(type(ch1))

print(type(n))
print(type(a))

print(type(dic))
print(type(Set))
print(type(Tuple))
print(type(List))
print(type(bl))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'bool'>

# PYTHON NUMBERS :
    
    1. integer
    2. float
    3. complex

In [7]:
Id=130
cgpa=2.64
name="Md.Firozzaman"
print(type(Id))
print(type(cgpa))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

## 1. Integer Number :

In [10]:
x=1;
y=1235434484583938448484488484
z=-328438945
Zero=0
print("x : ",x, " Data Type : ",type(x))
print("y : ",y, " Data Type : ",type(y))
print("z : ",z, " Data Type : ",type(z))
print("Zero : ",Zero, " Data Type : ",type(Zero))

x :  1  Data Type :  <class 'int'>
y :  1235434484583938448484488484  Data Type :  <class 'int'>
z :  -328438945  Data Type :  <class 'int'>
Zero :  0  Data Type :  <class 'int'>

## 2. Floating Point Number :

x=5.3
y=-39848544.34985
z=0.398484
print("x : ",x, " Data Type : ",type(x))
print("y : ",y, " Data Type : ",type(y))
print("z : ",z, " Data Type : ",type(z))

### (i)  POWER OF 10 :
   Float can also be scientific numbers with an "e" to indicate the power of 10.

In [33]:
x=3.5e3
m=35e4
y=13E4
z=-24.5e307
zz=-24.5e30748548
f = -87.7e100
print("x : ",x,", Data Type of x : ",type(x))
print("m : ",m,", Data Type of m : ",type(m))
print("y : ",y,",  Data Type of y : ",type(y))
print("z : ",z,", Data Type of z : ",type(z))
print("zz : ",zz,", Data Type of zz : ",type(zz))
print("f : ",f,", Data Type of f : ",type(f))

x :  3500.0 , Data Type of x :  <class 'float'>
m :  350000.0 , Data Type of m :  <class 'float'>
y :  130000.0 ,  Data Type of y :  <class 'float'>
z :  -inf , Data Type of z :  <class 'float'>
zz :  -inf , Data Type of zz :  <class 'float'>
f :  -8.77e+101 , Data Type of f :  <class 'float'>

## 3. Complex Number : 
Complex numbers are written with a "j" as the imaginary part:

In [34]:
x=3+3j
y=130j
z=-4j
print("x : ",x,", Type of x : ",type(x))
print("y : ",y,", Type of y : ",type(y))
print("z : ",z,", Type of z : ",type(z))

x :  (3+3j) , Type of x :  <class 'complex'>
y :  130j , Type of y :  <class 'complex'>
z :  (-0-4j) , Type of z :  <class 'complex'>

## Type Conversion : 
We can convert from one type to another with the int(), float(), and complex() methods:

In [11]:
a=130
b=2.63
c=5j
print("Convert from inger to float : ")
x=float(a)
print("  Type of a : ",type(a),", a : ",a,", ",type(x)," x : ",x)
print("Convert from float to integer : ")
y=int(b)
print("  Type of b : ",type(b),", b : ",b,", ",type(y)," y : ",y)
print("Convert form int to complex : ")
z=complex(c)
print("  Type of c : ",type(c),", c : ",c,", ",type(z)," z : ",z)

Convert from inger to float :
  Type of a :  <class 'int'> , a :  130 ,  <class 'float'>  x :  130.0
Convert from float to integer :
  Type of b :  <class 'float'> , b :  2.63 ,  <class 'int'>  y :  2
Convert form int to complex :
  Type of c :  <class 'complex'> , c :  5j ,  <class 'complex'>  z :  5j

### We cannot convert complex numbers into another number type.

In [12]:
a=3j
x=int(a)
print("x : ",x)

TypeError: can't convert complex to int

## Random Number : 
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [37]:
import random
print(random.randrange(1,5))
print(random.randrange(1,10))
if(random.randrange(130,147)==143):
    print("Barshon Shaha")
else:
    print("None")

3
4
None

  #                                           Python Casting 

## Specify a Variable Type : 

Python uses classes to define data types, including its primitive types.

## 1. Integers : 
int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

In [9]:
x=130;
y=130.15
z="130"
## st="Firoz" # invalid
print("x : ",int(x))
print("y : ",int(y))
print("z : ",int(z))

x :  130
y :  130
z :  130

## 2. Floats :
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

In [16]:
x=130;
y=130.15
z="130"
##st="Firoz" # invalid
print("x : ",float(x))
print("y : ",float(y))
print("z : ",float(z))
## print("st : ",float(st));# invalid

x :  130.0
y :  130.15
z :  130.0

ValueError: could not convert string to float: 'Firoz'

## 3. Strings : 

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [17]:
x=130;
y=130.34
z="130"
st="Firoz"
print("x : ",str(x))
print("y : ",str(y))
print("z : ",str(z))
print("st : ",str(st));

x :  130
y :  130.34
z :  130
st :  Firoz