#              PYTHON STRING

## String :

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

We can display a string literal with the print() function:

In [1]:
print("Name : Md.Firozzaman\nId : 180201130\nDepartment : Computer Science & Engineering")

Name : Md.Firozzaman
Id : 180201130
Department : Computer Science & Engineering

### Assign String to a Variable : 

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
n="Md.Firozzaman"
print(n)

Md.Firozzaman

### Multiline Strings : 

We can assign a multiline string to a variable by using three quotes:

#### Using Three Double Quotes :

In [10]:
a="""BAUST a aisa jibon ta tena bena hoiaa gelo.
Vober deser BAUST.Ajob ek BAUST"""
print(a)

BAUST a aisa jibon ta tena bena hoiaa gelo.
Vober deser BAUST.Ajob ek BAUST

#### Using Three Single Quotes :

In [8]:
a='''a="""BAUST a aisa jibon ta tana bena hoiaa gelo.
Vober deser BAUST.Ajob ek jogot BAUST"""
print(a)'''
print(a)

a="""BAUST a aisa jibon ta tana bena hoiaa gelo.
Vober deser BAUST.Ajob ek jogot BAUST"""
print(a)

## Strings are Arrays : 

Python does not have a character data type, a single character is simply a string with a length of 1.

In [13]:
a="Md.Firozzaman Sarkar"
print(a[0]," ",a[3]," ",a[14])

M   F   S

## Looping Through a String : 

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [17]:
a="Md.Firozzaman Sarkar"
for x in "Md.Firozzaman Sarkar":
    print(x)
print("\n")   
for x in a:
    print(x)

M
d
.
F
i
r
o
z
z
a
m
a
n

S
a
r
k
a
r


M
d
.
F
i
r
o
z
z
a
m
a
n

S
a
r
k
a
r

## String Length : 

To get the length of a string, We have to use len() function :

In [19]:
a="Md.Firozzaman Sarkar"
b="F"
print("The lenght of the string a : ",len(a))
print("The lenght of the string b : ",len(b))

The lenght of the string a :  20
The lenght of the string b :  1